.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid transparent;
  border-radius: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: none;
  white-space: nowrap;

  &--primary {
    color: var(--color-action-primary-text);
    background: var(--color-action-primary);
  }

  &--secondary {
    padding: 0.875rem 1.5rem;
    color: var(--color-action-primary);
    background: transparent;
    border-color: var(--color-border-action);
  }

  &--compact {
    padding: 0.875rem 1rem;
  }

  &--with-icon {
    gap: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    font-weight: 400;
  }

  &__icon {
    inline-size: 2.375rem;
    block-size: 2.375rem;
  }

  &__icon img {
    inline-size: 100%;
    block-size: 100%;
  }

  &:focus-visible {
    outline: 0.125rem solid currentcolor;
    outline-offset: 0.25rem;
  }
}
