.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 62.4375rem;
  white-space: nowrap;

  &--outline {
    padding: 0.5rem 0.75rem;
    color: var(--color-text-primary);
    border: 0.0625rem solid var(--color-border-pill);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.0313rem;
  }

  &--muted {
    padding: 0.625rem 0.5rem;
    color: var(--color-text-body);
    background: var(--color-surface-muted);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}
